[2019-11-13 13:45] infotexture opened #2 "Preserve comments"
This plug-in currently strips all comments from XML files, but many projects use comments for licensing statements, documentation, or other mandatory information that must be preserved.

If the project prefers to remove comments by default, at least consider adding a configuration option that would allow users to preserve comments if necessary.

[2019-11-13 13:51] kddeisz commented on #2
@infotexture definitely should! Could you potentially post a test case here? (An XML file with lots of comments would be ideal.)

[2019-11-13 14:08] infotexture opened #3 "Preserve XML processing instructions"
This plug-in currently preserves the optional [XML declaration](https://www.w3.org/TR/xml/#NT-XMLDecl) on the first line of XML files, but strips any subsequent [processing instructions](https://www.w3.org/TR/xml/#sec-pi) from the rest of the file.

For example, in many XML workflows, `<?xml-model … ?>` processing instructions are used to provide validation support via schema languages like RELAX

[2019-11-13 14:52] infotexture commented on #2
@kddeisz I don't have an extensively-commented file handy at the moment, but here's a [simple example from a real project](https://github.com/dita-ot/docs/blob/develop/topics/installing.ditamap):

[code]

In this case, the second and third comments are used to mark a section of the file that is [included by reference elsewhere](https://github.com/dita-ot/docs/blob/develop/reference/docs-dita-featu

[2019-11-13 17:13] infotexture opened #5 "Preserve DOCTYPE declarations"
This plug-in currently preserves the optional [XML declaration](https://www.w3.org/TR/xml/#NT-XMLDecl) on the first line of XML files:

[code]

but strips any subsequent [DOCTYPE declarations](https://www.w3.org/TR/xml/#dt-doctype) that are required for DTD-based validation in XML dialects, such as [DocBook](https://docbook.org) or [DITA](http://docs.oasis-open.org/dita/dita/v1.3/dita-v1.3-part0-o

[2019-11-13 19:39] #3 closed

[2019-11-13 19:39] #2 closed

[2019-11-13 22:41] bradchristensen opened #7 "Attribute values erased"
When running `prettier --write .\app.config --parser=xml`, the following `app.config` file gets transformed from:

[code]

Into:

[code]

Losing each of the values `1` and `8` for the two appSettings.

The expected behaviour is that the file should remain unchanged from the initial state.

`prettier@1.19.1`
`@prettier/plugin-xml@0.2.0`

[2019-11-14 12:17] ntotten opened #8 "Changes Content"
When running this on an attribute like:

[code]

The output is:

[code]

This specifically is used for Salesforce metadata in which case this is a breaking change.  Not sure if this is considered a valid XML optimization, but if so, i think we need an option to disable this. My opinion though is that contents are never modified.

Thanks! Great project so far. :)

[2019-11-14 12:17] takahitomiyamoto opened #9 "The decimal point has disappeared."
I would like to format this xml.

[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

Please remain the decimal point.

## Steps to Reproduce the Problem

run the command

[code]

create some files

#### package.json

[code]

#### .prettierrc
[code]

#### force-app/main/default/classes/temp.xml

[code]

run the command

[code]

## Specifications

  - Version: 0.2.0
  - Platform: Wind

[2019-11-14 12:19] takahitomiyamoto commented on #8
@ntotten Thank you. I will close my issue because of duplication.
https://github.com/prettier/plugin-xml/issues/9

[2019-11-14 12:21] takahitomiyamoto commented on #9
I will close this. It is the same as https://github.com/prettier/plugin-xml/issues/8

[2019-11-14 12:21] #9 closed

[2019-11-14 12:35] ntotten commented on #8
@takahitomiyamoto Oh sorry, i didn't see that. Thanks!

[2019-11-14 14:08] kddeisz commented on #8
Sorry about that, this is fixed on master and will be released soon.

[2019-11-14 14:08] #8 closed

[2019-11-14 14:09] kddeisz commented on #7
Sorry about that this is fixed on master and will be released momentarily.

[2019-11-14 14:09] #7 closed

[2019-11-14 15:35] ericanderson opened #10 "Support XSD documents as XML"

[2019-11-15 15:28] infotexture commented on #3
Looks like the implementation in #6 only handles [XML declarations](https://www.w3.org/TR/xml/#NT-XMLDecl) and `<?xml-model?>` processing instructions by searching for `?xml` or `?xml-model` on [Line 10 of src/parse.js](https://github.com/prettier/plugin-xml/blob/master/src/parse.js#L10), but it still strips all other processing instructions from the rest of the file.

Per the spec, regular [proce

[2019-11-15 16:01] infotexture opened #11 "Drop space before slash in empty elements"
Currently, the plug-in enforces a space before the closing slash in empty elements when `xmlSelfClosingTags` is `true`, normalizing `<foo></foo>` and `<foo/>` to `<foo />`.

Some projects prefer the tighter `<foo/>` syntax, so if an option already exists to configure empty tag handling, perhaps a third value could be added to support this convention, like:

- `true` (no space) – `<foo/>`
- `false`

[2019-11-15 16:30] infotexture opened #12 "Preserve text in mixed content elements"
Mixed complex type elements can contain attributes, elements, and text.

The plug-in currently deletes all text from mixed content elements.

## Before

[code]

## After

[code]

[2019-11-15 21:50] murdos opened #13 "Commented elements are uncommented"
Using version 0.3.0

## Before
[code]
## After
[code]

[2019-11-15 21:57] murdos opened #14 "Multi-line comments are not preserved"
Using version 0.3.0

## Before
[code]

## After
[code]

[2019-11-19 09:27] Yajo opened #17 "How to integrate in pre-commit?"
Hello, I mainly program in Python and XML, and I'd love to use prettier for the XML part, but I don't have any npm, yarn, package.json or JS thingies in my projects.

I use pre-commit. Is there a way to include prettier plugins in a `.pre-commit-config.yaml` file?

[2019-11-19 10:40] Yajo commented on #17
I got it working with this, although I'd expect some native out-of-the-box support here (or in prettier itself):

[code]

[2019-11-19 10:42] Yajo commented on #13
It can actually produce invalid (and crazy) XML:

## Before

[code]

## After

[code]

[2019-11-22 19:56] bd82 opened #18 "XML Parser"
Hello.

I see this package uses a heavily modified fork of the [fast-xml-parser](https://www.npmjs.com/package/fast-xml-parser).

I am assuming(?) the fork was done to deal with syntactic constructs which may not be represented in the output of common XML Parser (e.g Comments).

I have recently released [@xml-tools/parser](https://github.com/SAP/xml-tools/tree/master/packages/parser) which produce

[2019-11-22 20:00] kddeisz commented on #18
Interesting! Yeah the fork was done to handle a bunch of stuff it didn’t previously handle. I’d be very interested in checking out the newer project, currently on vacation for another week but I’ll check it out when I get back.

[2019-11-30 11:51] bd82 commented on #18
Here is a little prototype that builds (some of) the current AST with `@xml-tools/parser
- https://github.com/prettier/plugin-xml/pull/20

Although as described in the PR, I would not personally recommend using this approach.

[2019-12-03 07:13] muenzpraeger opened #22 "XML prettification changes content of XML tags"
When the line width of a file is reached the plugin prettifies the XML as it would prettify for example HTML. But with XML it can actually lead to not only changed formatting, but also changed content.

For example we ran [here](https://github.com/trailheadapps/ebikes-lwc/issues/104#issuecomment-559805517) into the issue that the plugin added line breaks to a `boolean`, which is invalid.

[2019-12-04 09:39] winterkind opened #23 "0.3.0: Character '>' inside of strings causes problems"
We use a framework that defines views as XML files. Example:
[code]

It uses a syntax for data binding inside of strings. That may include the character ">". This causes problems. Result:
[code]

[2019-12-04 09:49] winterkind opened #24 "0.3.0: Link-breaks inside of strings are not preserved"
We use a framework that defines views as XML files. It uses a syntax for data binding inside of strings, which may become quite complex. They usually utilize line-breaks. Example:
[code]

Result:
[code]
Not sure if this is in scope but it would be great to have an option to preserve line-breaks inside of strings.

[2019-12-09 10:42] pozil commented on #22
Kind of related to Issue #24

[2019-12-10 17:17] benjaminblack opened #27 "Support SVG files as XML"
SVG formatting requires renaming to `*.xml` before running Prettier, and renaming back to `.svg` afterwards.

[2019-12-12 17:30] ViceIce opened #28 "Standalone mode"
I like to use this plugin in [standalone prettier](https://prettier.io/docs/en/browser.html) to support formating in [monaco](https://microsoft.github.io/monaco-editor/) editor.

If i try to use this plugin i get webpack compiler errors.

[2019-12-12 17:40] ViceIce commented on #28
My webpack workaround:
[code]

[2019-12-14 15:43] rart commented on #28
I've noticed the same situation. Using it within a react app, compiler outputs. I've submitted a [PR for this issue](https://github.com/prettier/plugin-xml/pull/29).

[code]

[2019-12-15 04:47] rart commented on #18
There are use cases for prettier on the web/browser (hence prettier standalone). Please do consider bundle size and other aspects related to web/browser usage.

[2019-12-16 10:55] bd82 commented on #18
The Chevrotain minified is 158KB. This may not be optimal for browser usage
but it is also not a blocker.

Prettier standalone itself seems to have multiple files > 1mb.
- https://unpkg.com/browse/prettier@1.19.1/

[2019-12-20 11:38] bd82 commented on #18
Hi @kddeisz

I understands you are currently very busy.
I can help push this topic forward by working on an XML printer that works on a CST output of a Chevrotain based Parser.
- Would look similar to this [TOML printer](https://github.com/bd82/toml-tools/blob/master/packages/prettier-plugin-toml/lib/printer.js)
- I already did some work on this (In XMl Context) in the past, so it is more about al

[2019-12-23 22:00] hermitmaster commented on #5
This is a major issue with hibernate mappings and the config xml in java projects. A solution would be greatly appreciated.

[2019-12-28 00:09] stevenmay-dev opened #34 "How to install in VScode globally"
I'm using VSCode for Salesforce Dev and using Prettier for formatting.

I only seem to be able to enable this xml plugin per VSCode project not globally.

For each created VSCode project I have to:

I just want to enable this plugin for all my VSCode projects.  How do I do this just once?

[2020-01-05 22:50] marceloschreiber commented on #18
Hi @kddeisz and @bd82,

joining the party to say that I ended up doing this (still in very early stages) before reading this issue. My motivations were:
1. When working with UI5 projects (SAP's frontend framework) this plugin has a bug as described at https://github.com/prettier/plugin-xml/issues/23.
2. To my understanding, UI5 projects will probably want to have some specific rules that might con

[2020-01-06 08:56] bd82 commented on #18
👍

Could this option not be part of an existing formatter? Is a separate project really needed?

[2020-01-06 12:12] marceloschreiber commented on #18
I rather enhance this plugin than create a different project.

Although UI5 has a unique characteristic where some XML attributes have a JSON on its value. Since prettier allows adding another formatter on top of a formatter, I think it would be best to format both the XML and the JSON attributes. This might be something too specific to add to this plugin.

[2020-01-07 10:07] PymZoR commented on #34
Installing the plugin globally (with `-g`) and setting the `prettier.prettierPath` configuration entry your system `prettier` path should work

[2020-01-07 10:12] PymZoR opened #36 "Single empty lines are collapsed"
Using version 0.3.0
## Before
[code]
## After
[code]

## Expected result
[code]
According to https://prettier.io/docs/en/rationale.html, the blank lines between the `b` and `c` tags should collapse into one blank line, while the blank line between the `c` and `d` tags should be preserved.

[2020-01-07 19:22] stevenmay-dev commented on #34
Thanks I'll give that a shot.

[2020-01-09 19:17] IanVS opened #37 "Nested strings are broken apart"
I tried this project out on some .xml test fixtures, and found that the first time I ran it, it made changes like:

![image](https://user-images.githubusercontent.com/4616705/72097591-b34b1600-32ea-11ea-97ed-e7e1fd5cf707.png)

And then if I ran it again, it would make even more changes:

![image](https://user-images.githubusercontent.com/4616705/72097612-bd6d1480-32ea-11ea-8ed2-d2ef8d722c57.png)

[2020-01-19 22:07] kddeisz commented on #12
This is being fixed by https://github.com/prettier/plugin-xml/pull/39

[2020-01-19 22:07] #12 closed

[2020-01-19 22:08] kddeisz commented on #18
Thanks everyone! I've updated the plugin to use `@xml-tools/parser` and it's much more stable. You can see the work in https://github.com/prettier/plugin-xml/pull/39. It's about to be merged so I'm going to close this.

[2020-01-19 22:08] #18 closed

[2020-01-19 22:08] #34 closed

[2020-01-19 22:09] kddeisz commented on #24
Thanks for the report @winterkind - this goes away with https://github.com/prettier/plugin-xml/pull/39 so I'm going to close this.

[2020-01-19 22:09] #24 closed

[2020-01-19 22:10] kddeisz commented on #28
@ViceIce I'm about to release v0.4.0, once I do could you try again? I want to fully understand this issue

[2020-01-19 22:10] kddeisz commented on #36
This is fixed by https://github.com/prettier/plugin-xml/pull/39

[2020-01-19 22:10] #36 closed

[2020-01-19 22:11] kddeisz commented on #27
I'm releasing that as part of v0.4.0, which is encapsulated by https://github.com/prettier/plugin-xml/pull/39

[2020-01-19 22:11] #27 closed

[2020-01-19 22:12] kddeisz commented on #23
This is fixed by #39

[2020-01-19 22:12] #23 closed

[2020-01-19 22:14] kddeisz commented on #22
It no longer changes the content of tags, since #39

[2020-01-19 22:14] #22 closed

[2020-01-19 22:15] kddeisz commented on #17
Check out the prettier docs here: https://prettier.io/docs/en/precommit.html

[2020-01-19 22:15] #17 closed

[2020-01-19 22:17] kddeisz commented on #13
This no longer happens since #39

[2020-01-19 22:17] #13 closed

[2020-01-19 22:18] kddeisz commented on #14
This is all fixed up since #39

[2020-01-19 22:18] #14 closed

[2020-01-19 22:18] kddeisz commented on #37
This is all fixed up since #39

[2020-01-19 22:18] #37 closed

[2020-01-19 22:20] kddeisz commented on #10
This is now merged into master

[2020-01-19 22:20] #10 closed

[2020-01-19 22:28] kddeisz commented on #11
This is now on master as `xmlSelfClosingSpace`

[2020-01-19 22:28] #11 closed

[2020-01-19 22:31] kddeisz commented on #5
At the moment I can't get them out of the parser, but I'm working on it here: https://github.com/SAP/xml-tools/issues/81

[2020-01-20 15:46] winterkind opened #40 "0.4.0: indentation issues"
Using 0.4.0 I tested one of our XML files.

Settings:
[code]

Before:
[code]

After:
[code]

Perceived issues:
1. Starting in line 8, a `tabWidth` of 2 seems to be used.
1. Surprisingly high indentations in lines 21 - 23, 25, 29, 30.

[2020-01-20 16:00] kddeisz commented on #40
Okay so a couple of things are going on here. Technically, the plugin is functioning as designed. Though I realize it's not the best user experience at the moment.

Unfortunately in XML whitespace is very significant unless you're inside of `<>`. So what's happening is when prettier is formatting these groups, it's maintaining the exact same amount of whitespace you had inside the start and end ta

[2020-01-21 07:26] postpersonality opened #42 "The plugin fails to parse XML with doctype"
The XML I have (from the jhipster project defaults)
[code]

The error I get
[code]

NPM modules I have
[code]

If I remove the doctype then it works correctly. Not sure if it is related to https://github.com/prettier/plugin-xml/issues/5

[2020-01-21 07:37] postpersonality commented on #42
I've tried to update the `@xml-tools/parser` manually to the `1.0.0`. It does parse the XML but it strips out the DOCTYPE. That issue is described in #5

[2020-01-21 09:25] bd82 commented on #42
These are kinda of the same issues, with @xml-tools/parser 1.0.0
The doc Type will be parsed, but the [printer](https://github.com/prettier/plugin-xml/blob/master/src/print.js) in this project also needs to handle the new data otherwise it is ignored...

[2020-01-21 09:49] postpersonality commented on #42
Sure. But currently, 0.4.0 fails to parse the doctype and crashes.

[2020-01-21 12:55] kddeisz commented on #5
Fixed by #43, will be released in upcoming v0.5.0

[2020-01-21 12:55] #5 closed

[2020-01-21 12:55] #42 closed

[2020-01-21 12:57] winterkind commented on #40
Thanks for the explanation! To dumb it down for me (I am not the XML expert as you probably already noticed...):

Row 8 in the result is indented by two spaces because row 7 in the original is also indented by two spaces? Meaning `tabWidth` is not applied? In lines such as 21 - 23 it is applied, just not with the parent tag as basis but with their real "level" within the tree?

In that case I agre

[2020-01-21 13:07] kddeisz commented on #40
So basically, when you have something like:

[code]

in XML that means that the content inside of the `foo` tag is actually: `["\n  ", bar, "\n"]`. The whitespace in this case is significant. As much as it looks like it's not because we've kind of come to agree that the spacing should look like a tree. But imagine a different example like:

[code]

Now the content inside of the `foo` tag is actual

[2020-01-21 13:07] postpersonality commented on #42
Many thanks for the plugin and quick feedback. I've tested 0.5.0 with my project. It works great! Thanks again.

[2020-01-21 13:08] kddeisz commented on #40
So yeah, basically I'm thinking of trying to provide a rule that says if you don't have mixed content inside the tags, then we could probably just consider the whitespace as insignificant and indent as we like, but right now it would definitely change things otherwise and potentially break XML integrations.

[2020-01-21 13:14] bd82 commented on #40
Specification wise XML is indeed whitespace sensitive.

However what % of real XML files are really whitespace sensitive?
Perhaps the **default** of **ignoring** whitespace in contents would be more **functionally useful** even if not 100% correct while those users who have meaningful whitespace would need to explicitly turn the WS ignoring off?

If we do not ignore whitespace it is very difficult

[2020-01-21 13:17] kddeisz commented on #40
I think it pretty much has to be an option. Otherwise this is really only prettier-ifying open/close tags and prolog content.

[2020-01-21 13:17] kddeisz commented on #40
Now to figure out what to name it. `xmlIgnoreWhitespace`? `xmlWhitespaceInsignificant`? `xmlWhitespaceSIgnificantOnlyOnMixedContent`?

[2020-01-21 14:05] thorn0 commented on #28
Would it help if Prettier added the `browser` field to its `package.json` pointing to `standalone.js`?

[2020-01-21 14:51] kddeisz commented on #28
If you edit it in your node_modules and rebuild does that fix it?

On Tue, Jan 21, 2020 at 9:05 AM Georgii Dolzhykov <notifications@github.com>
wrote:

--
*Kevin D. Deisz*
CTO, CultureHQ <https://www.culturehq.com>

[2020-01-21 16:18] ViceIce commented on #28
Yes, but earliest on next week. But our ci will get the update as you publish it. So I can check the result.

[2020-01-21 16:23] thorn0 commented on #40
For HTML, the analogous option of Prettier is called [`--html-whitespace-sensitivity`](https://prettier.io/docs/en/options.html#html-whitespace-sensitivity).

Also you can probably rely on the standard `xml:space` attribute, but I don't know much about it.

[2020-01-21 16:40] thorn0 commented on #40
Also schema languages (DTD, XML Schema, RELAX NG, Schematron) are used to define, among other things, whitespace rules for elements. If the document has an associated schema, you should be able to get the needed info about whitespace significance from there.

[2020-01-21 17:48] bd82 commented on #40
**My 2 cents**:

I would go with the option name `--html-whitespace-sensitivity` linked above.
but only keep two of the three options:

- "strict" - Whitespaces are considered sensitive.
- "ignore" - Whitespaces are considered insensitive.

And use "ignore" by **default** and see if any users complain. 😄

I'd probably also emphasize this option and its default behavior in the documentation.
and on

[2020-01-21 18:05] thorn0 commented on #40
Sounds good for starters.

The "css" value would make sense too as XML is [one of the two syntaxes of HTML5](https://www.w3.org/TR/html5-diff/#syntax).

And it might be possible to come with a simple, but good enough heuristic for another value, "guess". E.g. "if an element doesn't have any non-whitespace text nodes among its children, then its whitespace-only child text nodes can be ignored". Som

[2020-01-22 08:12] winterkind commented on #40
but only keep two of the three options:

That sounds very reasonable. In our specific case, all whitespaces are insignificant, except for those inside multi-row strings. So if a value of `ignore` would also ignore those, then a third value like `stringsOnly` would be good, which would only keep whitespace inside of multi-row strings.

[2020-01-22 09:29] thorn0 commented on #40
@winterkind BTW, did you try formatting your files with Prettier's HTML formatter and `--html-whitespace-sensitivity ignore`? Should work fine in your case: [playground].(https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeSAnOSBiGCGA5gLYIwAicAZgJZQ0w3QA6UABGwB7EA2UAzkkxwAvMxD98ABwB0AVxozh41h259BxMROkziK9l14CkAEzgA3bZNlx8ppQBZ+8xRZpwA7kugwMEHgM1Y0FzCwBRHmtdOwcwZ1cZdy8ZOB44Ulggow1tAAsYGCkkAHoSzwqZT

[2020-01-22 11:50] winterkind commented on #40
@thorn0 You are right - that looks very good, also with our larger files.

[2020-01-22 12:15] thorn0 commented on #40
@winterkind I meant the `html` parser. What issues exactly did you have with it? Could you demonstrate them using a link to the playground?

[2020-01-22 14:46] winterkind commented on #40
@thorn0 I don't think there is anything wrong with the HTML parser. To quickly show what I meant see [here](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeSAnOSBiGCGA5gLYIwAicAZgJZQ0w3QA6UABGwB7EA2UAzkkxwAvMxD98ABwB0AVxozh41h259BAEzgA3MROky4+TUoAs-eYp004AdyXQYGCDxXsuvAUm06Aojz6krLGpmAWVjI29kY8cKSw7mpe-EGGxOIAfKpsqABqAEIQnDkcWFDaGAAqAJ5SouIF+FhJHGwM8aniwKVtHFL4MAAWSGwA5JCwcJwwALIIcpkA9ACSUFQQS

[2020-01-22 15:28] bd82 commented on #40
I am unsure if HTML is always a valid (syntactically) XML.

- https://stackoverflow.com/questions/5558502/is-html5-valid-xml

[2020-01-22 15:36] thorn0 commented on #40
@bd82 It's usually not, but that doesn't mean Prettier's HTML parser (Angular's actually) can't be smart enough to support XML. It's something I'd like to investigate when I get some time.

[2020-01-22 15:53] thorn0 commented on #40
@winterkind Try the `vue` parser ([playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAeSAnOSBiGCGA5gLYIwAicAZgJZQ0w3QA6UABGwB7EA2UAzkkxwAvMxD98ABwB0AVxozh41h259BAEzgA3MROky4+TUoAs-eYp004AdyXQYGCDxXsuvAUm06Aojz6krLGpmAWVjI29kY8cKSw7mpe-EGGxOIAfKpsqABqAEIQnDkcWFDaGAAqAJ5SouIF+FhJHGwM8aniwKVtHFL4MAAWSGwA5JCwcJwwALIIcpkA9ACSUFQQSwDCTtMwYwA0vX3wxFI8g3AAykPNxgBGcaNU+Dz8cMdsAL5Zvai+SCuxFePAKW

[2020-01-22 17:24] infotexture commented on #40
Re. https://github.com/prettier/plugin-xml/issues/40#issuecomment-576768893:

Yep, proper context-sensitive whitespace handling is basic table stakes for an XML processing toolchain, so a simple on/off, strict/ignore approach wouldn't be sufficient.

The schema languages typically handle that for each XML dialect, so the schema will typically use `@xml:space` to say something like “preserve all wh

[2020-01-25 19:11] kddeisz commented on #40
Okay, I think what I'd like to go with is creating an `--xml-whitespace-sensitivity` option that has `ignore`, `strict`, and `smart` (or something like that. The first two are obviously far easier to implement (the last one requires a lot of knowledge about the schema and elements, I'm very interested in implementing it, but not as a first pass).

[2020-01-25 19:54] kddeisz commented on #40
@winterkind would you be able to test the `whitespace-ignore` branch on this (and set the `xmlWhitespaceSensitivity` to `ignore`)? Want to make sure it works for your use case.

[2020-01-26 21:48] infotexture commented on #11
@kddeisz 🙏 Thanks for the initial implementation in b415dcfc8191eda6d26afe998a5aac54f729e374 for 0.5.0.

The new option seems to work fine when added to the Prettier configuration file, for example as:

[code]

— but I get a warning when passing the new option via the CLI:

[code]

[2020-01-26 22:02] infotexture commented on #3
@kddeisz See previous [comment](https://github.com/prettier/plugin-xml/issues/3#issuecomment-554403810):

[2020-01-27 13:19] bd82 commented on #3
The processing Instructions should appear in the Parser's output
So I guess it is just a matter of "printing" them.
- https://github.com/SAP/xml-tools/blob/master/packages/parser/lib/parser.js#L94

[2020-01-27 13:21] bd82 commented on #3
Although they are consumed as a single large token:
- https://github.com/SAP/xml-tools/blob/master/packages/parser/lib/lexer.js#L100-L103

We should probably properly parse their parts to allow for "pretty" re-printing.
Please open an issue in xml-tools repo if that is the case...

[2020-01-27 13:40] kddeisz commented on #11
@infotexture yeah on the command line it's `--xml-self-closing-space`.

[2020-01-27 13:42] kddeisz commented on #3
@infotexture this is working on v0.5.0. Are you having trouble with it?

[2020-01-27 13:47] kddeisz commented on #40
Actually I've just gone ahead and released a `v0.6.0` with the changes. I'm going to close this and if we find a need for the `smart` mode in the future we can build it. For now @winterkind try setting `xmlWhitespaceSensitivity` to `"ignore"` and it should be better for you.

[2020-01-27 13:47] #40 closed

[2020-01-27 14:44] PymZoR opened #46 "Inconsistent formatting depending on initial state"
I came across those cases (not an exhaustive list though) on files where long lines and big tag attributes were exceeding the maximum line length. While formatting some of them by hand, I figured out that the formatting was actually quite different depending on the initial state.

Prettier version : 1.19.1
Pretter options :
[code]

### Case 1
###### Before
[code]
###### After
[code]
Here, the `b`

[2020-01-27 14:50] kddeisz commented on #46
Yeah this is because in XML, whitespace is sensitive in every element unless otherwise specified by the schema. Try using `xmlWhitespaceSensitivity` to set `"ignore"`, that's probably what you want.

[2020-01-27 14:50] #46 closed

[2020-01-27 16:06] nallarj opened #47 "Indentation problem"
I am trying to use the indentation. I have an problem :

[code]

if the balise contain other things than balise xml, for example here, "baz". the indentation is bad. my output :

[code]

[2020-01-27 17:13] infotexture commented on #11
@kddeisz Ah, right, easy to forget that. See #48 ☝️ for a proposal.

[2020-01-27 17:33] infotexture commented on #3
@kddeisz Yes, even in 0.6.0, processing instructions that don't start with `?xml` are still being dropped as described in my previous [comment](https://github.com/prettier/plugin-xml/issues/3#issuecomment-554403810). Tried with the sample PIs provided there:

[code]

[code]

[2020-01-28 08:02] CircleCode commented on #47
note: this is the output with the newly added `xmlWhitespaceSensitivity: ignore` option

[2020-01-28 10:44] kalitine opened #49 "Error parsing XML"
**Prettie**r: v1.19.1
**@prettier/plugin-xml**: v0.6.0

The plugin throws an error on parsing the XML below:
[code]
[code]

[2020-01-28 14:04] kddeisz commented on #49
This is related to the parser node handling multi-line cdata tags. It will be fixed by the upstream https://github.com/SAP/xml-tools/pull/89, after which I'll merge into here and release a fix. I'll update this issue when it's out.

[2020-01-28 14:18] kddeisz commented on #3
Ahh I didn't understand until I continued messing with it that you meant processing instructions inside of other elements as opposed to outside the root element. I've opened #50 to handle that.

[2020-01-28 14:19] kddeisz commented on #47
Yeah at the moment even with the `ignore` option set it tries to respect whitespace inside nodes with mixed content. I suppose I can go whole hog on really ignoring whitespace for these kinds of node. I can take a look at doing that later.

[2020-01-29 08:36] winterkind commented on #40
Hi, sorry for not responding earlier; I was sick for a few days. I really appreciate your help with this.

I tried 0.6.0 with the new option and it looks very good. I'll test with some more of our files and if I find anything else, I'll create new issues.

[2020-01-29 14:44] kddeisz commented on #49
This is now fixed on master and I'll be releasing it momentarily

[2020-01-29 14:44] #49 closed

[2020-01-29 21:58] infotexture commented on #3
Thanks, your changes in https://github.com/prettier/plugin-xml/pull/50/commits/f38f07058e61e44943ca064b3fe40294a27353d7 for #50 did the trick. 🙇

[2020-02-09 16:48] kddeisz commented on #28
Does #55 solve this issue?

[2020-02-10 08:08] rart commented on #28
It does.

[2020-02-10 14:00] kddeisz commented on #28
Nice - I've release v0.7.1 with the change. Going to optimistically close this. Feel free to reopen if it's still an issue.

[2020-02-10 14:00] #28 closed

[2020-02-11 15:29] drktfl opened #56 "Error parsing XML with attributes starting with an underscore"
Hi,

I am trying to run prettier on an XML file like this:

[code]

When executing `prettier test.xml` (`test.xml` being the file listed above), it fails with:

[code]

This is on prettier 1.19.1 and @prettier/plugin-xml 0.7.1

Thanks and regards,
Dirk

[2020-02-12 13:54] kddeisz commented on #56
Fix for this is out in v0.7.2. Thanks for the report!

[2020-02-12 13:54] #56 closed

[2020-02-12 13:59] drktfl commented on #56
Thanks for fixing this so quickly!

[2020-02-26 09:44] viceice opened #59 "Respect `max_line_length = off`"
This plugin does not respect my editorconfig setting.

works
[code]

does not work
[code]

[2020-02-26 15:39] kddeisz commented on #59
Hey there - sorry but that's not within the scope of this plugin. It sounds like a bug with either your editor or prettier itself. This plugin doesn't have anything that would parse that kind of file.

[2020-02-26 15:39] #59 closed

[2020-02-26 15:51] viceice commented on #59
I've configured prettier to parse those files as xml:
[code]

So the bug also occues on nomal xml files. So it is maybe a bug in prettier

[2020-04-30 15:07] dawsbot opened #80 "Include this in standard prettier packages"
This is more of a question than an issue: Why isn't this included in prettier by default? It seems that inferring that a file is `.xml` is a simple process, so why isn't this included in the standard cli?

My guess is that this package is not bug-free enough yet, but it's working well for me locally 🤷

[2020-04-30 15:54] kddeisz commented on #80
I suppose it could be. Adding this to the main prettier package would add some dependencies which would make it take longer to install. It's honestly pretty bug free at the moment, I'd just like to get the whitespace parsing a little bit cleaner.

[2020-04-30 18:32] bd82 commented on #80
Prettier "vendors" all their dependencies, that is why the prettier package is 10.7 megabytes.

I don't know the details of the prettier bundling / vendoring processes, but Chevrotain
which is the only dependency of @xml-tools/parser can be minified to about ~150k.
If there is a smart tree shaker bundler involved this number would likely be smaller...

- https://unpkg.com/browse/chevrotain@7.0.1/l

[2020-05-03 14:10] kddeisz commented on #80
Seems legit. Once I close out the last issue on this repo I'll open a PR against prettier core and e can continue the conversation there.

[2020-05-03 14:11] #80 closed

[2020-05-13 05:49] vinayhk1989 opened #85 "Incorrect indentation with closing tags"
After formatting, I could see the incorrect indentation with closing tags.

Configuration option I have used:
        parser: 'xml',
        tabWidth: 4,
        printWidth: 200,
        xmlSelfClosingTags: true,
        xmlWhitespaceSensitivity: 'ignore'

XML content:
[code]

After formatting:
![image](https://user-images.githubusercontent.com/9014933/81775876-44393480-950b-11ea-95ee-0007f6d00754

[2020-05-13 11:20] kddeisz commented on #85
Yeah, this one is a duplicate of #47. The issue is that it tries to maintain whitespace in nodes that have mixed content (both elements and whitespace nodes). I know you passed `whitespaceIgnore` but at the moment it's still not quite handling it like would be expected. I'm still working on it, but I'm going to track it over on that ticket.

[2020-05-13 11:20] #85 closed

[2020-05-29 05:55] vinayhk1989 commented on #47
any update on fixing the issue ?

[2020-06-03 14:57] cavo789 opened #89 "Also recognize .wsdl files?"
Hello

The plugin works pretty good with `.xml` files (i.e. with the `.xml` file extension).

Is it possible to associate other extensions like `.wsdl` to the xml plugin?  (For info, a WSDL file is the manifest of a web service; this is a specialized XML content)

The following command will return this error `[error] No parser could be inferred for file: webservice.wsdl`

[code]

Thanks

[2020-07-03 10:26] FunnyGhost opened #96 "Crashes while formatting NativeScript XML"
NativeScript uses .xml files so I thought I would use prettier-xml for auto-formatting with VsCode.

XML file example:
![Screenshot 2020-07-03 at 12 26 42](https://user-images.githubusercontent.com/6450559/86460319-75bec700-bd28-11ea-8a5e-3f3484ad1025.png)

"@prettier/plugin-xml": "0.7.2",
"prettier": "1.19.1".

It throws:
"Error: Error parsing XML
	at Object.parse (/Users/utukku/SnappCar Projects

[2020-07-03 13:40] kddeisz commented on #96
Sorry the error message here could definitely be improved. It's breaking because according to the XML spec you can only have one root node. If you wrap those nodes together into one root node it should function properly.

[2020-07-03 13:40] #96 closed

[2020-07-03 13:52] kddeisz commented on #89
@cavo789 sorry this took so long! This is released as part of v0.8.0.

[2020-07-03 13:52] #89 closed

[2020-07-03 14:24] cavo789 commented on #89
Don't excuse yourself Kevin... Many thanks for your work and improvements !!!

[2020-07-06 04:54] zdm opened #97 "printWidth is not used"
If i set printWidth to 9999999 it still tries to make lines 80 chars length.

[2020-07-06 11:59] #97 closed

[2020-07-16 21:25] infotexture opened #100 "Mixed content in DITA codeblocks wraps at print width"
The DITA [`<codeblock>`](http://docs.oasis-open.org/dita/dita/v1.3/errata02/os/complete/part3-all-inclusive/langRef/technicalContent/codeblock.html#codeblock) element is designed for code samples where line breaks are significant.

## Works as expected if codeblocks don't contain other XML elements

The Prettier XML plugin seems to do the right thing here most of the time, wrapping _attributes_ of

[2020-07-16 21:40] infotexture commented on #100
@kddeisz Does the XML plugin honor any magic comment syntax that can be used to ignore a range of lines like the [Range Ignore](https://prettier.io/docs/en/ignore.html#range-ignore) offered for top-level Markdown content?

Something like that would provide a workaround for cases like this:

[code]

[2020-07-21 14:36] kddeisz commented on #100
Just merged ignore ranges here: https://github.com/prettier/plugin-xml/pull/102. It's out in v0.9.0. So you could use that.

Are you saying even in `<varname\n>` the newline within there is significant? I guess in my head it couldn't be significant if it was within a start tag like that.

[2020-07-21 15:49] kddeisz commented on #47
I believe I've addressed this in https://github.com/prettier/plugin-xml/pull/103 which has been merged into master. Can someone on this issue (@nallarj, @CircleCode, @vinayhk1989) pull master and verify on their machine before I release a new version?

[2020-07-24 12:38] infotexture commented on #100
🎉 Excellent! Thanks, that's a pragmatic workaround for now. 👍

Normally with DITA codeblocks, **all** line breaks in source are passed to output 1:1.

The `<cmdname>` element applies **bold** formatting and `<varname>` _italics_, but the lines break as specified in source.

The original source _(where the entire codeblock is on one line in the source file)_ is output correctly as:

The modified so

[2020-07-24 12:38] #100 closed

[2020-07-24 15:17] kddeisz commented on #47
Alright I'm pretty comfortable saying this is fixed. Going to close this. Feel free to reopen if `v0.10.0` doesn't fix this for you.

[2020-07-24 15:17] #47 closed

[2020-08-16 09:44] lcnittl opened #111 "Support for '.inx' files"
This is similar to #89:

Is it possible to add `.inx` files to be recognized by your plugin? `.inx` is an `.xml` file used by Inkscape and Adobe InDesign.

Thanks in advance!

PS: Is there maybe a CLI option or a config file (don't think prettier supports any, right?) that would accept a list of extensions?

[2020-08-19 06:45] viceice opened #113 "Wrong whitespace added to csproj"
editorconfig:
*  `max_line_length = 120`

current:
[code]

expected
[code]

msbuild tooling has problems with the added whitespaces. 😢 Current workaround is to extend  `max_line_length = 160`

[2020-08-19 06:55] viceice commented on #113
also this doesn't work because `VSToolsPath` now has whitespaces.

[code]

[2020-08-19 15:58] kddeisz commented on #113
In your configuration do you have it so that it's ignoring whitespace?

[2020-08-20 11:57] ArnaudBarre opened #114 "Wrong spacing for opening tag with tab ident 2"
Thanks for making this great addition to Prettier!

I tried to use it on my React-Native project, but for an AndroidManifest file I got a strange result:

[code]

Context:

- Prettier 2.0.5
- Plugin 0.11.0
- Configuration: `"trailingComma": "all"`

[2020-08-20 13:04] kddeisz commented on #114
Thanks for reporting. Can you post the original source file?

[2020-08-20 13:25] ArnaudBarre commented on #114
I needed to zip it for GH to accept it:
[AndroidManifest.xml.zip](https://github.com/prettier/plugin-xml/files/5103306/AndroidManifest.xml.zip)

[2020-08-20 13:38] kddeisz commented on #114
For android manifests I would suggest `"xmlWhitespaceSensitivity": "ignore"` as I don't think there's significant whitespace in that schema. Right now it's trying to preserve all whitespace, which is why you're seeing this output.

[2020-08-20 14:50] ArnaudBarre commented on #114
Is there a lot of xml file that depends on significant whitespace? Because the default is not very friendly (I had the same issue with some SVG files).

[2020-08-20 14:59] kddeisz commented on #114
It's a tough call. It completely depends on the schema. Technically, unless folks specify that the whitespace is insignificant, changing the whitespace changes the meaning of the markup. And since prettier has the contract of never changing the meaning of your program, I went with that as the default. That being said, most folks want the behavior to change it. So I'm not sure of the right answer.

[2020-08-20 15:19] ArnaudBarre commented on #114
Yes I agree it would break prettier philosophy. Maybe just make it more visible in the documentation that in most cases (svg) this flag should be enabled

[2020-08-20 15:19] #114 closed

[2020-08-31 12:45] viceice commented on #113
Yes, otherwise it wouldn't align xml elements

[2020-08-31 13:28] kddeisz commented on #113
So that's the problem. In XML every tag is by default whitespace-sensitive unless the schema otherwise specifies, which is why by default we do our best to preserve whitespace under `whitespaceSensitivity=strict`. If you switch it to `ignore`, it's going to ignore whitespace sensitivity entirely. What it seems like you want in this case is some elements to have whitespace sensitivity and some not,

[2020-08-31 13:28] #113 closed

[2020-08-31 15:37] kddeisz commented on #111
Hey there!

Yeah you can configure prettier. Docs are here: https://prettier.io/docs/en/configuration.html. For something like this, you could use the `overrides` options, as in:

[code]

That being said, I've added that extension here (https://github.com/prettier/plugin-xml/commit/8e6a9373700b93ea8b5517f1e043d445ca20cda1) and will release it shortly.

[2020-08-31 15:38] #111 closed

[2020-10-14 17:46] noelforte opened #130 "Getting "No formatter installed" error when attempting to format with VSCode"
**Steps I took:**
1. Installed `vscode-prettier` extension
2. Installed `@prettier/plugin-xml` plugin locally
3. Ran "Format document"
4. Getting this error:

<img width="461" alt="image" src="https://user-images.githubusercontent.com/2560683/96025522-3aea2600-0e23-11eb-8b3d-cfeee28173cc.png">

Came across https://github.com/prettier/prettier-vscode/issues/1579 in which @ntotten deferred to this p

[2020-10-15 17:53] infotexture commented on #130
@noelforte Sounds like the VS Code extension may not be aware that you've installed the XML plugin locally.

Per https://github.com/prettier/prettier-vscode#prettier-resolution, you might want to try setting `prettier.resolveGlobalModules` to `true`, or install it as a dev dependency of the current project:

[code]

That will add something like this to the project's `package.json` file:

[code]

I

[2020-10-16 15:14] kddeisz commented on #130
^^^ Thanks @infotexture! This is correct.

@noelforte do you have the plugin as a dev dep?

[2020-10-19 00:55] noelforte commented on #130
Installed prettier and prettier-plugin-xml as dev dependencies via

npm install --save-dev prettier @prettier/plugin-xml

Without doing anything else, now getting:

<img width="452" alt="Invalid prettier configuration file detected. See log for details." src="https://user-images.githubusercontent.com/2560683/96390739-07d9c680-1184-11eb-8721-6e83b97934d2.png">.

Prettier seems to work fine with VSC

[2020-10-19 14:56] kddeisz commented on #130
I think this might be better taken up with the vscode plugin. This seems more related to that than this specific prettier plugin.

[2020-10-19 14:56] #130 closed

[2020-10-20 00:30] noelforte commented on #130
Mmm. Sounds like a plan, thanks for the help @kddeisz!

[2020-11-01 12:39] sbidoul opened #138 "Some significant whitespace is inserted in "xmlWhitespaceSensitivity: ignore" mode"
Assume the following xml file:

[code]

In `xmlWhitespaceSensitivity: ignore` mode, signficant whitespace is sometimes inserted to cut long lines, so we get:

[code]

For our application, the inserted space in `field` elements is significant.

In `strict` mode the issue does not occur, but then most automatic indenting is disabled.

My feeling is that, in `ignore` mode, the text content of an elem

[2020-11-01 22:22] kddeisz commented on #138
Can you clarify what you mean by your last sentence? I'm not clear on what your suggested behavior would look like. Also could you give an example of what it would mean?

[2020-11-01 22:29] sbidoul commented on #138
In the example I gave, the result should look like this:

[code]

In other words, I think plugin-xml should have a mode where text nodes containing non-whitespace are never modified, while allowing reformating of whitespace-only text nodes. My impression is that this could be the behaviour of the `xmlWhitespaceSensitiveity=ignore` mode, but that could be another mode.

[2020-11-03 02:26] nelson6e65 opened #139 ""strict" xmlWhitespaceSensitivity is not respected"
[code]

[code]

[2020-11-03 02:29] nelson6e65 commented on #139
Prettier: 2.1.2
Xml Plugin: 0.12.0

[2020-11-03 19:31] kddeisz commented on #139
That's exactly what should be happening. By default all elements are considered whitespace significant in XML unless otherwise specified. So with `strict` mode you get the exact same whitespace back. I think you probably want `ignore` mode.

[2020-11-03 19:31] #139 closed

[2020-11-04 06:08] nelson6e65 commented on #139
Oh... I misunderstood the option. Thanks for explaining.

[2020-11-09 18:49] kddeisz commented on #138
I don't think we can really make that option a reality. The issue is that it completely depends on the schema, which prettier at the moment has no way of understanding. Some users _want_ some of these nodes modified and some not.

I think the best I can offer in this case is to make use of ignore ranges, as in:

[code]

As a side note, do you have a published XSD schema somewhere where you have th

[2020-11-09 18:49] #138 closed

[2020-11-10 08:31] sbidoul commented on #138
@kddeisz there must be a misunderstanding.

I totally agree that determining if a node containing only white space is significant or not requires `xml:space` (and possibly access to the schema to obtain its value, which is out of scope for this tool).

That is not what I am asking for.

To clarify, I found a nice description of different types of white space in XML at https://www.liquid-technologi

[2021-01-20 16:56] stephen-last opened #154 "Add line breaks?"
If I have an xml string like:

[code]

Should this plugin be adding line breaks, like:

[code]

If not by default, is there an option for this..?

[2021-01-20 17:02] kddeisz commented on #154
Yeah set `xmlWhitespaceSensitivity` to `"ignore"`. By default every node in XML is whitespace-sensitive, so we can't add content in there without semantically breaking it. But if you set it to `"ignore"` then it'll do what you want.

[2021-01-20 17:02] #154 closed

[2021-01-21 19:52] nelson6e65 opened #156 "There is a way to keep blank lines?"
This file

[code]

...get removed the black space.
[code]

I would like to keep it to improve readability, specially in large files.

Could be nice to have a `maxBlackLines`-like option.

[2021-01-22 00:26] kddeisz commented on #156
Yeah. I'm going to do this in #157. I'll collapse them down to 1 blank line if there are multiple, but will respect them.

[2021-01-22 00:28] #156 closed

[2021-01-22 03:32] nelson6e65 commented on #156
😮
Amazing! Thanks!

[2021-01-22 13:58] kddeisz commented on #156
Out in v0.13.0

[2021-01-26 09:46] sbidoul commented on #138
@kddeisz would you reconsider, given my previous comment ?

[2021-01-26 12:02] kddeisz commented on #138
Sure! If you want to open a PR I’d be happy to take a look.

On Tue, Jan 26, 2021 at 4:46 AM Stéphane Bidoul <notifications@github.com>
wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>

[2021-01-26 12:26] viceice opened #158 "TypeError: Cannot read property 'startLine' of undefined (v0.13.0)"
I get the following error if i try to update to newest version

[code]

*dir\file.xml*
[code]

[2021-01-26 14:03] sbidoul commented on #138
I don't know if/when I'll be able to do a PR. In the meantime could we reopen the issue to track this enhancement request ?

What do you recommend: updating the behavior of `xmlWhitespaceSensitiveity=ignore/strict` or add a third option ?

[2021-01-30 11:20] lboehm commented on #158
+1 I've got the same error. In my case this file content leads to the error:

[code]

[2021-02-03 09:08] piejanssens opened #160 "Not formatting my xml, don't see a trace of the plugin being used/loaded in the prettier output"
Using VS Code in WSL mode, prettier and @prettier/plugin-xml installed globally.

The only formatting effect that I see is in my `test.xml` the space added in the declaration changing it from `<?xml version="1.0"?>` to `<?xml version="1.0" ?>`.

[code]

[code]

[2021-02-03 14:44] kddeisz commented on #160
By default every tag in XML is whitespace-sensitive, so this is acting as designed. If you want to ignore whitespace sensitivity, you should use the option listed in the README, and set `xmlWhitespaceSensitivity` to `"ignore"`.

[2021-02-03 14:44] #160 closed

[2021-02-03 15:26] piejanssens commented on #160
Thanks, I did read the README, but didn't see or think that the `xmlWhitespaceSensitivity` would have that effect.
Adding `"prettier.xmlWhitespaceSensitivity": "ignore"` to vscode settings.json does not get passed to prettier or the plugin.
Adding it to a `.prettierrc` file does get taken into consideration, but I don't see the formatting happening.

[2021-02-03 16:51] kddeisz commented on #160
Can you run it again with the debug and put the output here?

[2021-02-04 07:37] piejanssens commented on #160
Today it works. Strange, but I'll take it. I'll file an issue with the vs code plugin as it would be really great if a global default config could be set via settings.json.

[2021-02-08 02:07] Tarrowren commented on #158
[code]

[2021-02-22 10:21] ramykl opened #164 "Allow html tags not to be self-closed"
We are using XML as our scaffold for HTML, which means we have things like
[code]
This gets changed to `<div />` which is no longer valid HTML. It would be great to have an option to not self-close these tags

[2021-02-22 11:59] jahvi opened #165 "Not converting tabs to spaces"
For some reason the module is not converting tabs to spaces when using the `useTabs: false` option, it does work the other way though (spaces to tabs work ok).

**Input** (it's hard to see but indentation is using tabs)
[code]

**Expected Result** (spaces instead of tabs)
[code]

**Actual Result** (still tabs)
[code]

**.prettierrc**
[code]

[2021-02-22 13:22] kddeisz commented on #165
If you set `xmlWhitespaceSensitivity` to `"ignore"` what happens? It looks like you're running with the default configuration which is that XML nodes are all whitespace sensitive.

[2021-02-22 13:36] jahvi commented on #165
Thanks that does fix the issue.

[2021-02-22 13:36] #165 closed

[2021-02-22 13:42] kddeisz commented on #164
Unfortunately I do not think this will be possible. Opening the door to parsing HTML would mean that we would need to additionally support the possible void tags and foreignObject tags, both of which would be large additions to the parser. I'd prefer to keep this plugin such that it only supports XML and XML-type documents like SVG and XHTML.

To solve your problem specifically, I'd suggest using

[2021-02-22 13:42] #164 closed

[2021-02-24 09:07] ramykl commented on #164
Thanks. Yeah, just found how to get prettier to use the HTML parser. I did have a weird issue where I needed this plugin to get it to work, although I override the parser to use HTML. Seems a bit strange, but thanks for getting back to me

[2021-03-03 15:30] #158 closed

[2021-03-13 00:24] y0nd0 opened #169 "Weird buggy format."
Actually:

[code]

Expected:

[code]

Editorconfig:

[code]

Versions:

[code]

Testes format on VSCode with official Prettier extension and CLI only (without extension).
What's going on?  Weird indent spaces. For example `edit-config` one level deeper and `application` more levels deeper. I cannot see any scheme. I'm confused. What's wrong? Sometimes the format differs. Sometimes formatting doesn

[2021-03-15 15:30] kddeisz commented on #169
Set `xmlWhitespaceSensitivity` to `"ignore"`.

Closing as dup of https://github.com/prettier/plugin-xml/issues/165, https://github.com/prettier/plugin-xml/issues/160, and https://github.com/prettier/plugin-xml/issues/154.

[2021-03-15 15:30] #169 closed

[2021-03-16 16:34] jingtang10 opened #171 "Option for closing bracket to be on the same line"
## Metadata

- `@prettier/plugin-xml` version: '0.13.0
- Options:

Our gradle spotless config:

[code]
  - `xmlSelfClosingSpace`: true
  - `xmlWhitespaceSensitivity`: `"strict"` (be 100% sure changing this to `"ignore"` doesn't fix your issue)
      - changing it to ignore actually throws an error: `(Error while formatting: TypeError: Cannot read property 'startLine' of undefined)`

## Input

[cod

[2021-03-17 12:43] kddeisz commented on #171
@jingtang10 v0.13.1 fixes the error you're describing

[2021-03-17 12:43] kddeisz commented on #171
You'd expect there to be a space after the last attribute?

[2021-03-17 13:00] jingtang10 commented on #171
Thanks. Is there a new option being introduced for this in 0.13.1?

I do expect a space after the last attribute but this issue isn't about that. I'm more concerned about the closing bracket on a new line.

[2021-03-20 00:10] celm1990 opened #172 "Output is bad formated V0.10.0+"
**Original data**
![image](https://user-images.githubusercontent.com/7775116/111852548-5206d580-88e5-11eb-82ce-9e8ea8f7f5ae.png)

**Before V0.10.0**

![image](https://user-images.githubusercontent.com/7775116/111852572-74005800-88e5-11eb-987b-aefbca517c2d.png)

**After V0.10.0+**
![image](https://user-images.githubusercontent.com/7775116/111852600-91cdbd00-88e5-11eb-95de-0c21f350aa97.png)

**.pret

[2021-03-20 14:11] kddeisz commented on #172
What would you expect the output to be?

[2021-03-20 17:35] celm1990 commented on #172
As image **before V0.10.0** Not new lines, blank spaces is wrong, I used Qweb for compile this output, but new lines has not compile source correctly

[2021-03-23 08:45] viceice commented on #172
Struggling with this too 😕

[2021-05-02 10:36] tomereli opened #179 "Poorly formatted multiple lines strings"
## Metadata

- `@prettier/plugin-xml` version: 0.1.0
- Options:
  - `xmlSelfClosingSpace`: false
  - `xmlWhitespaceSensitivity`: `"ignore"`

 Note - I tried all combinations. Recent log from prettier extension in vscode:

[code]

**Note 2 - I see that v0.1.0 is quite old, but I can't seem to find a way to install a newer version.**

## Input

[code]

## Current output

[code]

## Expected output

[2021-05-02 11:03] tomereli commented on #179
So apparently `npm install https://github.com/prettier/plugin-xml -D --save-exact` will install latext version - 0.13.1 from github, and the issue does not reproduce on this version. Still it would be better to release versions to npm official registry and not require users to isntall directly from github, so I'm keeping it open but feel free to close if this is OK by you.

[2021-05-02 11:54] tomereli commented on #171
I (think) I'm using v0.13.1 and this doesn't seem to be implemented, I still get the XML closing bracket in a new line, which is annoying.

[2021-05-02 12:15] kddeisz commented on #179
0.13.1 has been on `npm` for over 2 months. It's here: https://www.npmjs.com/package/@prettier/plugin-xml.

[2021-05-02 12:15] #179 closed

[2021-06-03 09:47] 70853n opened #188 "Blank lines are not preserved"
## Metadata

- `@prettier/plugin-xml` version: 0.13.1
- Options:
  - `xmlSelfClosingSpace`: true
  - `xmlWhitespaceSensitivity`: `"ignore"`

## Description
This goes against prettiers rationale:

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2021-06-03 09:51] 70853n opened #189 "Comments are not preserved"
## Metadata

- `@prettier/plugin-xml` version: 0.13.1
- Options:
  - `xmlSelfClosingSpace`: true
  - `xmlWhitespaceSensitivity`: `"ignore"`

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2021-06-03 12:51] kddeisz commented on #189
So that's not valid XML. I'm surprised it's not throwing an error, as it should be. You're missing the `!` at the beginning of the comments, as in:

[code]

[2021-06-03 12:51] #189 closed

[2021-06-03 17:26] 70853n commented on #189
Ye my bad for copying it wrong. But the bug is prevalent for me, as proper comments are removed.

[2021-06-03 18:01] kddeisz commented on #189
If you include the comments correctly, are they getting removed for you? I haven't seen that behavior.

[2021-06-04 06:04] 70853n commented on #188
My local setup was wrong. Works fine!

[2021-06-04 06:04] #188 closed

[2021-06-04 06:05] 70853n commented on #189
Sorry for the false alarm. My local setup was flawed. Works as expected (y)

[2021-07-15 00:44] kddnewton commented on #172
Okay, so the issue here is that you're passing `xmlWhitespaceSensitivity` as `"ignore"`, but clearly you have whitespace-sensitive markup.

There are two ways you can fix this. Either you can pass `xmlWhitespaceSensitivity` as `"strict"` or you use ignore ranges like we describe in the README (https://github.com/prettier/plugin-xml#ignore-ranges).

[2021-07-15 00:44] #172 closed

[2021-07-15 00:44] #171 closed

[2021-07-15 01:28] kddnewton commented on #172
Actually drastically increasing the `printWidth` should do it as well.

[2021-08-04 22:26] infotexture commented on #11
@kddnewton The changelog says the `xmlSelfClosingSpace` option that fixed this issue was [removed](https://github.com/prettier/plugin-xml/blob/main/CHANGELOG.md#removed) from the 1.0.0 release.

Does that mean all instances of `<foo/>` will revert to `<foo />`, or is there some other way to preserve the tighter spaceless syntax in self-closing elements and XML declarations?

[2021-08-22 14:17] kddnewton commented on #11
@infotexture Yeah that option was dropped after feedback from the community when I opened the PR to merge this plugin into prettier core.

[2021-08-25 10:04] cbou opened #269 "How to run the code with eslint?"
### bracketSameLine

true

### printWidth

80

### tabWidth

2

### xmlWhitespaceSensitivity

strict

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2021-09-20 20:53] celm1990 commented on #172
Thank so much, change at` xmlWhitespaceSensitivity: "strict"` working fine

[2021-09-24 12:08] gtwohig commented on #11
@kddnewton too bad that it was dropped as lack of this feature is a blocker for us going to 1.0.

Use case: we are cleaning up/standardizing formatting on XML that is returned to us via the Salesforce metadata API. They (salesforce) do not include a space before the `?>` on the xml version line nor do they on self closing elements. With xmlSelfClosingSpace: false the only files with a diff after t

[2021-09-24 12:36] infotexture commented on #11
I also have client projects that are sticking with the previous version for this reason. 😞

[2021-09-26 17:22] kddnewton commented on #11
Ehh alright. You convinced me. I'll release that today.

[2021-09-26 22:25] infotexture commented on #11
Much appreciated.
Thank you. 🙏

[2021-09-27 07:07] gtwohig commented on #11
Thanks @kddnewton excited to be on the latest version and everything seems to be working great!

[2021-11-25 00:08] aldrichdev opened #338 "Doesn't seem to format XML at all"
### bracketSameLine

_No response_

### printWidth

125

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2021-11-25 00:09] aldrichdev commented on #338
So I ran `./node_modules/.bin/prettier --write '**/*.svg'` and it just returns nothing. In contrast if I run `./node_modules/.bin/prettier --write '**/*.xml'` it returns `[error] No files matching the pattern were found: "**/*.xml".`, so it seems to be finding my `.svg` files, but the problem is it's not formatting them at all. I would expect it would fix alignment issues of nested elements and re

[2021-11-26 19:57] kddnewton commented on #338
[code]

[2021-11-29 20:48] aldrichdev commented on #338
Hi @kddnewton, I did add `"xmlWhitespaceSensitivity": "ignore"` to my `.prettierrc` file and ran the prettier command again, still doesn't indent XML child elements.

[2021-11-30 15:48] #338 closed

[2021-11-30 16:09] kddnewton commented on #338
No worries, glad it's working!

[2021-12-09 11:30] OexeO opened #348 "Incorrect reformat even if xmlWhitespaceSensitivity is set to "strict""
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

4

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

false

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2021-12-09 15:13] #348 closed

[2021-12-21 13:30] pozil opened #359 "Incorrect indentation when breaking a tag and its attributes on multiple lines"
### bracketSameLine

false

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2021-12-21 13:31] pozil commented on #359
See the `property` tags and its attributes.
Also, I used default prettier settings.

[2021-12-21 13:54] kddnewton commented on #359
So there's a couple of things going on here. You've got `strict` for whitespace sensitivity, so it can't change any whitespace outside of tag declarations. Also, you've got the default tab width of `2`, when it seems like you're using `4` in general. So it's going to indent the tags according to that. So in reality, it's indenting everything correctly insofar as it can according to the rules of st

[2021-12-21 13:54] #359 closed

[2021-12-23 15:47] kddnewton commented on #359
Unfortunately, yeah it's the expected behavior. Since we can only really control whitespace within a start tag declaration, what's happening is:

* prettier determines the element can't fit on one line (it's the only one in the file that that's the case)
* it breaks it up, inserting breakpoints after the name of the tag and each key-value pair
* it indents up to the current level of indentation (w

[2021-12-23 17:09] pozil commented on #359
Ok, thanks for the detailed explanation.

[2021-12-28 23:50] sunnybyeon opened #363 "strict whitespaceSensitivity only for elements without child elements"
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

4

### xmlWhitespaceSensitivity

ignore

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2021-12-28 23:56] sunnybyeon commented on #363
Is it possible to use strict whitespaceSensitivity only for elements without child elements so I can get the expected output? I tried using ignore for xmlWhitespaceSensitivity with the printWidth to an extremely large number and it works quite fine but it doesn't break line with the attributes and I get a result like this.
`<?xml version="1.0" encoding="UTF-8" ?>
<parent>
    <childOne>
        <c

[2021-12-29 17:58] kddnewton commented on #363
At the moment, there is not an option to make this happen. Unfortunately there are just too many permutations to really support every kind of option. If you need strict whitespace for only some elements, I would suggest looking at the ignore ranges in the README and using those.

[2021-12-29 17:58] #363 closed

[2022-02-07 23:55] paustint opened #394 "Randomly adds semi-colon at the end of inner text when using tage named <flow>"
### bracketSameLine

true

### printWidth

140

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

true

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

I have no idea why a semi-colon is getting added to the end of this text inside the tags. This has caused some breakage for a deployment to one of our systems. No oth

[2022-02-08 00:42] kddnewton commented on #394
You should use the `--embedded-language-formatting` option to turn off this behavior. It's because the tag is matching the name of an embedded prettier parser.

[2022-02-08 00:42] #394 closed

[2022-02-17 12:03] ChazUK commented on #34
Is there not a way for the plugin to be accessible when installed locally to the project, so that files will format on save?

[2022-02-25 22:16] Toliak commented on #164
Hello.
I have the same issue with the raw XML. Unfortunately, some applications are not able to determine self-closed XML tags.
I am going to make a Merge Request with the new property `xmlExpandSelfClosingTags`.

[2022-03-11 17:16] Zamiell opened #422 "Fails on XML files with Steam markup inside of them"
### xmlWhitespaceSensitivity

ignore

### Input XML

[code]

If you use this tool multiple times on the aforementioned input, it will continue to change the output over and over. (e.g. the tool isn't being idempotent)

[2022-03-20 06:47] Zamiell opened #427 "Plugin is broken with the Prettier 2.6.0 (released on March 16th)"
### bracketSameLine

true

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

You will be greeted with the following error:

[code]
[code]

[2022-03-22 15:13] kddnewton commented on #422
Can you share how it's changing? I'm currently unable to reproduce this issue.

[2022-03-22 15:16] kddnewton commented on #427
Ahh, it looks like they changed their bundler and now it doesn't allow certain things I was doing. Thanks for the report. I've fixed it on `main` and will be releasing 2.0.0 now.

[2022-03-22 16:55] Zamiell commented on #422
It changes to this:
[code]
And then to this:
[code]

And so on.

[2022-03-22 20:17] #422 closed

[2022-03-23 14:26] bamapookie commented on #111
Thanks for this.  It works for `.drawio` files as well.

[2022-04-16 22:07] infotexture opened #448 "Support new `singleAttributePerLine` option in Prettier 2.6"
### bracketSameLine

false

### printWidth

120

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

false

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-04-17 00:41] #448 closed

[2022-04-17 00:46] kddnewton commented on #448
Out on 2.1.0

[2022-04-17 08:48] mathben opened #450 "char < not working into string, but > is working"
### bracketSameLine

false

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict or ignore

### xmlSelfClosingSpace

true

### Error

NOT WORKING, got error "Error parsing XML"
[code]

WORKING

[code]

WORKING

[code]

[2022-04-17 23:08] kddnewton commented on #450
I've reported this to the upstream parsing library that I'm using and will track it there: https://github.com/SAP/xml-tools/issues/383.

[2022-04-22 20:44] kddnewton commented on #450
I'm reopening this because I want to have better error messages, but turns out `<` is not allowed in attributes as per the spec: https://www.w3.org/TR/xml/#ValueType.

[2022-04-23 03:12] mathben commented on #450
Ok, I need to replace `>` by `&gt;` and `<` by `&lt;` in my code.
Will we support error message for `>` too?

[2022-04-24 17:19] kddnewton commented on #450
escaping yeah.

On Fri, Apr 22, 2022 at 11:13 PM Mathieu Benoit ***@***.***>
wrote:

[2022-05-12 14:55] #450 closed

[2022-05-18 12:58] kendrickw opened #478 "Preserve spacing in string literal within element"
I'm reopening this issue #138 .

I'm suggesting a new option (`preserveSignificantWhitespace: true/false`) to preserve "Significant Whitespace" within XML element and attributes.  (As shown by the green spaces in the diagram below)

[2022-05-19 17:41] kddnewton commented on #478
I'm not sure I understand the logic of that graphic.

Why is it that the whitespace within the `<Directions>` tag is significant but the whitespace within `<Address>` is not significant? How can you tell the difference without a schema? Is it just a guess based on whether or not there are child elements in the body of the element? In which case if you add a `<foo>` into the body of `<Directions>`

[2022-05-19 17:48] kendrickw commented on #478
The whitespace surrounding text within an XML element or attribute value are considered to be "Significant whitespace".

In the case of `<Address>` tag, all the immediate child nodes are not text, so the spaces are not significant.
In the case of `<Directions>` tag, the immediate child nodes are text, so the spaces are significant.

If you add a `<foo>` into the body of `<Direction>`, only the spa

[2022-05-19 18:06] kendrickw commented on #478
You are absolutely correct.

When `xmlWhitespaceSensitivity` is `strict`, all white spaces must be preserve according to section 2.10:

However, this issue is about formatting when `xmlWhitespaceSensitivity` is `ignore`.  The current implementation is to trim all spaces surrounding and within text nodes.  This issue is to propose a new option `preserveSignificantWhitespace` to preserve the spaces

[2022-06-28 20:38] acdha commented on #189
In case anyone else encounters this, the ancient `prettier-plugin-xml` will strip comments and attribute values. `@prettier/plugin-xml` is what you want.

[2022-09-10 01:13] jylin opened #584 "Rename package to prettier-plugin-xml to be consistent with other plugins"
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-09-12 11:53] kddnewton commented on #584
The package is named `@prettier/plugin-xml`, which _is_ consistent with other packages

[2022-09-12 11:53] #584 closed

[2022-10-05 18:59] brsanthu commented on #478
Instead of additional attribute, I would think having additional options "semantic" or something to that effect would be more easier to consume. As current options is meant to alter how whitespaces are treated and this proposal is just different way to treating it so additional option is not not warranted.

[2022-10-05 19:57] kendrickw commented on #478
@brsanthu , I agree with your proposal.
So `xmlWhitespaceSensitivity` can have three values:
- `strict`  all white spaces are preserved
- `ignore` trim all spaces surrounding and within text node
- `semantic` (**new**) preserve "Significant Whitespace" within XML element and attributes

@kddnewton , what do you think?

[2022-10-11 00:00] luisg123v opened #607 "Failed to parse XML containing attributes with special characters"
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-10-11 00:03] luisg123v commented on #607
CC @moylop260 @luistorresm

[2022-10-11 13:38] kddnewton commented on #607
I've opened an issue on the upstream parser here: https://github.com/SAP/xml-tools/issues/407.

[2022-10-18 13:45] sosukesuzuki opened #616 "Migrate to Prettier v3"
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-10-18 16:41] kddnewton commented on #616
Fixed by https://github.com/prettier/plugin-xml/pull/617. Will release a new version soon.

[2022-10-18 16:41] #616 closed

[2022-10-18 16:41] kddnewton commented on #607
Closing this as it's being tracked over on that other issue. Sorry about this @luisg123v I'm at the mercy of the parser. If you feel like a contribution, that'd be a great place.

[2022-10-18 16:41] #607 closed

[2022-10-18 17:17] luisg123v commented on #607
@kddnewton roger, I'll be following that other issue.

Thanks a lot.

[2022-10-19 06:20] fisker commented on #616
You are on fire 🔥

[2022-10-22 19:37] elliot-nelson opened #620 "Calling an embed plugin based on script type"
### bracketSameLine

_No response_

### printWidth

_No response_

### tabWidth

_No response_

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

_No response_

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-10-24 13:58] kddnewton commented on #620
Yeah for sure. I've opened a PR to do that.

[2022-10-24 14:00] #620 closed

[2022-10-24 14:02] kddnewton commented on #620
I'm going to release this as part of the prettier v3 release, so just waiting on that.

[2022-11-01 08:58] cnguu opened #625 "Label are not properly aligned, no config file"
### bracketSameLine

true

### printWidth

80

### tabWidth

2

### xmlWhitespaceSensitivity

strict

### xmlSelfClosingSpace

true

### Input XML

[code]

### Current output XML

[code]

### Expected output XML

[code]

[2022-11-01 09:00] cnguu commented on #625
`package.json`

[code]

[2022-11-01 13:59] kddnewton commented on #625
https://github.com/prettier/plugin-xml#whitespace

[2022-11-01 13:59] #625 closed